.metallica {
  font-family: 'Metal Mania' !important;
  // letter-spacing: 7px;
}

html {
  //font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%s
  // font-family: 'Open Sans Condensed', sans-serif;
  // font-family: 'Voces', cursive;
  
  @include respond(phone) {
    font-size: 80%;
  }
  
  @include respond(tab-port) {
    font-size: 87%; // 1rem = 8px; 8/16 = 50%
  }
  @include respond(tab-land) {
    font-size: 95%; // 1rem = 9px; 9/16 = 56.5%
  }
  @include respond(laptop) {
    font-size: 105%; // 1rem = 10; 10/16 = 62.5%
  }
  @include respond(big-laptop) {
    font-size: 110%; // 1rem = 10; 10/16 = 62.5%
  }
}

.heading {
  text-align: center;
  
  &__main {
    font-size: 3rem;
    text-align: center;
    // text-shadow: 2px 2px 5px $white;
  }
  &__section {
    font-size: 1.65rem;
    padding: $sp-2;
    margin: $sp-3 0;
  }
  
  &__article {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
}