// Laoyout
.wrapper,
.hero,
.events {
  max-width: $width-full;
  overflow: hidden;
}

.events,
.shopping {
  padding-bottom: 500px;
}

// Base
ul {
  list-style-type: none;
}

// Anchor
a {
  color: $dark;

  &:hover {
    color: lighten($dark, 20%);
  }
}

// Buttons
.button {
  @include button(indigo);
}
