<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{head.title}</title>
</head>
<body>
  <div class="container-fluid">
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item menu">Menu</li>
        <li class="navigation__item store">Store</li>
        <li class="navigation__item cart">Cart</li>
      </ul>
    </nav>

    <section class="hero">
      <h1>{hero.main-heading}</h1>
      <h3>{hero.sub-heading}</h3>
    </section>
