
    <main>
      <div class="container">
        <section class="tours">
          <h2 class="section-heading">{tours.heading}</h2>
          <ul class="tours__list">

            <li class="tours__item">
              <p class="tours__date">
                <time class="tours__time" datatime="{tours.time-num}">{tours.time-write}</time>
              </p>
              <div class="tours__details">
                <p class="tours__address">{tours.address}</p>
                <p class="tours__place">{tours.place}</p>
                <p class="tours__btn {tours.status}">{tours.status-btn}</p>
              </div>
            </li>

          </ul>
        </section>
      </div>

    </main>
