// TOPBAR navigation
.navigation {
  background: transparent;
  position: fixed;
  width: 100%;
  padding: 0 $sp-1;
  z-index: 50;
  
  @include respond(tab-land) {
    padding: 0 $sp-2;
  }
  @include respond(big-laptop) {
    padding: 0 $sp-3;
  }

  .metallica { 
    font-size: 1.3rem;
    display: block;
  } 

  a {
    color: $white;
  
    &:hover {
      color: darken($white, 40%);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  
  &__item {
    margin: 0 $sp-2;
    padding: $sp-1 0;

    &:last-child {
      margin-left: auto;
    }
    .fa-shopping-cart {margin-right: $sp-1;}

  } 
  &__link {
    display: inline-block;
    vertical-align: middle;
  }

  // &__active {
  //   border: 2px solid red;
  //   font-size: 15px;
  // }

  &.scroll {
    background: $dark;
    color: $white;
  }
}
